#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul, #navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #fff dotted 1px;
}

/* Showcase */
#welcome {
  height: 100%;

}

#welcome .welcome-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Home-Info */

#home-info .info-img {
  display:none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

/* Información Secundaria */

.box {
  float: none;
  width: 100%;
}

/* Acerca de */
#about-info .info-right,
#about-info .info-left {
  float:none;
  width: 100%;
}
#about-info .info-right {
  margin-top: 30px;
}
.l-heading {
  text-align: center;
}

/* Contact */
#contact-info .box {
  border-bottom: #fff dotted 1px;
  width: 50%;
}
#container {
    /*
    - Recuerda, margin: auto; en izquierda y derecha centrara el elemento
    - Tal vez agregar un "max-width" ayude para que sea responsivo
    - Puede que quieras agregar algo de padding
    */
    max-width: none;
    margin:auto;
    padding: 20px;
  }
  .form-wrap {
    /*
      Esta es el area blanca alrededor del formulario y cabecera, etc
    */
    background: white;
    border: none;
    width: 26%;
    padding: 20px 20px;
    margin: auto;
    height: 500px;
  }
  .form-wrap h1,
  .form-wrap p {
    /*
      Tal vez quieras centrar esto
    */
    text-align:center;
    font-family: Arial;
  }
  .form-wrap .form-group {
    /*
      Cada label, input esta dentro de un .form-group
    */
  }
  .form-wrap .form-group label {
    /*
      Label debería cambiar a un elemento en bloque (d****y)(block)
    */
    display: block;
  }
  .form-wrap .form-group input {
    /*
      Inputs deberían tener el ancho del 100% a traves del .form-wrap y algo de padding
    */
    width: 100%;
    padding: 5px;
  }
  .form-wrap button {
    /*
      Button debería hacer lo mismo que los input 100% y mostrarse en bloque(block)
      Background color para el button es #49c1a2
    */
    background-color: #49c1a2;
    display:block;
    width:100%;
    margin: auto;
    padding: 05px;

  }
  .form-wrap button:hover {
    /*
      Hover(pasar por encima) background color para el button es #37a08e
    */
    background-color: #37a08e;
  }
  .form-wrap .bottom-text {
    /*
      El texto del fondo es más pequeño
    */
    font-size: 12px;
    padding: 20px;
  }
